html, body {
    margin: 0;
    overflow: hidden;
}

.top ul li {
    line-height: 50px;
    float: left;
    width: 100px;
}

.top ul li a {
    display: block;
}

.top ul li .subMenus {
    display: none;
    background: #ffffff;
    height: 50px;
    width: 100%;
}

.leftMenu ul li a {
    display: block;
}

.leftMenu {
    height: 100%;
    width: 200px;
    background: #cacaca
}

.leftMenu ul li {
    line-height: 50px;
    text-align: center;
}

.top ul li:hover:not(.topselcet):not(.topselcet1) {
    background: #efefef;
}

.top ul li:hover .subMenus {
    display: block;
}

.top ul {
    float: right;
    text-align: center;
}

.top {
    background: #ffffff;
    height: 50px;
}

.topselcet {
    background: #cacaca;
}

.topselcet1 {
    background: #221dca;
}

#index {
    height: 100%;
}

.xx {
    background-size: 5px;
    background-image: url("../imges/ty.png");
    background-repeat: no-repeat;
    background-position-x: right;
}
